<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MachineLearningEye.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MachineLearningEye.Properties.Settings>
            <setting name="record_file_name" serializeAs="String">
                <value>sample</value>
            </setting>
            <setting name="play_file_name" serializeAs="String">
                <value>sample</value>
            </setting>
            <setting name="extention" serializeAs="String">
                <value>.dat</value>
            </setting>
            <setting name="record_folder" serializeAs="String">
                <value />
            </setting>
        </MachineLearningEye.Properties.Settings>
    </userSettings>
</configuration>